<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ayushib.menuapp">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MenuActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".GameActivity" />
        <activity android:name=".CategoryActivity" />
        <activity
            android:name=".NutritionActivity"
            android:label="Nutrition Tips"
            android:parentActivityName=".MenuActivity" />
        <activity
            android:name=".ChannelActivity"
            android:label="Workout Tips"
            android:parentActivityName=".MenuActivity" />
        <activity android:name=".WorkoutVideoActivity" />
        <activity
            android:name=".diary.MainDiaryActivity"
            android:label="My Diary"
            android:parentActivityName=".MenuActivity" />
        <activity
            android:name=".diary.PostActivity"
            android:label="New Memory"
            android:parentActivityName=".diary.MainDiaryActivity" />

        <activity android:name=".chat.MainChatActivity"
            android:label="Chat"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            />

        <activity android:name=".chat.ui.AddGroupActivity"
            android:theme="@style/MyThemeNoActionbar"/>

        <activity android:name=".chat.ui.ChatActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".chat.MainChatActivity"/>

        <activity android:name=".chat.ui.UserLoginActivity" />
        <activity android:name=".chat.ui.UserRegisterActivity"></activity>

        <service android:name=".chat.services.FriendChatService"
            android:exported="false"
            android:persistent= "true" />
    </application>

</manifest>